.wrapper {
    margin-top: 90px;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    height: 48px;
    background-color: rgb(240 242 245);
    width: 100%;
    user-select: none;

    .inner {
        display: flex;
        align-items: center;
        height: 100%;
        width: 1300px;
    }

    a {
        font-size: 14px;
        color: rgba(105, 105, 115, 1);
    }


}


.login {
    display: flex;
    justify-content: center;
    height: 440px;
    user-select: none;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 1300px;
    background-color: #d00f0f;

}

.aside-left {
    width: 240px;
}

.aside-right {
    width: 240px;
    background-color: rgb(164, 27, 180);
}

.content {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(249, 249, 249);
}

.column-left {
    flex: 1;
    margin-right: 38px;
    user-select: none;

    p {
        height: 160px;
        font-weight: 400;
        font-size: 16px;
        color: rgba(30, 46, 78, 1);

    }
}

.column-right {
    flex: 1;
    user-select: none;
}

.title {
    font-family: 'Noto Sans';
    font-weight: 400;
    font-size: 20px;
    color: rgba(51, 51, 51, 1);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 15px;
    height: 43px;
    background-color: rgb(15 58 141);
    width: 100%;
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
        background-color: rgba(15, 69, 172, 1);
    }
}

.form {
    height: 160px;


    input {
        display: block;
        border: 1px solid rgba(221, 221, 221, 1);
        height: 42px;
        outline: none;
        font-size: 16px;
        width: 100%;
        padding: 6px 12px;
        margin-bottom: 4px;

    }

    .forget {
        display: block;
        margin-top: 28px;
        margin-bottom: 20px;
    }

}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}