.wrapper {
    margin-top: 90px;
    user-select: none;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    height: 48px;
    background-color: rgb(240 242 245);


    .inner {
        display: flex;
        align-items: center;
        height: 100%;
        width: 1300px;
    }

    a {
        font-size: 14px;
        color: rgba(105, 105, 115, 1);
    }
}

.cart {
    display: flex;
    justify-content: center;
    width: 100%;

}

.content {
    width: 1300px;

    table {
        text-align: center;

    }
}

.btn-qty-left {
    padding: 3px 6px;
    margin-right: 4px;
    color: #fff;
    background-color: rgba(204, 4, 26, 1);
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-qty-right {
    padding: 3px 6px;
    margin-left: 4px;
    color: #fff;
    background-color: rgb(10, 67, 127);
    border: none;
    outline: none;
    cursor: pointer;
}

.payment {
    margin-top: 80px;
    margin-bottom: 200px;

    p {
        font-weight: 500;
        color: rgba(204, 4, 26, 1);
    }
}

.btn-payment {
    font-size: 18px;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: rgba(204, 4, 26, 1);
    cursor: pointer;

}

.nullCart {
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 360px;
}

.btn-delete {
    padding: 6px 10px;
    background-color: rgba(204, 4, 26, 1);
    color: #fff;
    cursor: pointer;
}