.wrapper {
    width: 210px;
    height: 500px;
    user-select: none;

    h4 {
        font-size: 14px;
        font-weight: 500;
        padding-top: 12px;
        padding-left: 6px;
        color: rgb(10, 67, 127);
    }
}