.wrapper {
    width: 266px;
    padding-bottom: 10px;
    border: 1px solid rgb(192, 189, 189);
}

.img-product {
    width: 100%;
    height: 260px;
    object-fit: cover;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.category {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: rgba(58, 71, 84, 1);

}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.3;
    color: rgba(58, 71, 84, 1);
    height: 60px;


}

.price {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
        font-size: 18px;
        color: rgba(226, 41, 61, 1);
        font-weight: 700;
        margin: 0 7px 0 0;

    }
}