.wrapper {
    margin-top: 90px;
    height: 2000px;
    background-color: aqua;
    user-select: none;
}

.breadcrumb {
    display: flex;
    justify-content: center;
    height: 48px;
    background-color: rgb(240 242 245);


    .inner {
        display: flex;
        align-items: center;
        height: 100%;
        width: 1300px;
    }

    a {
        font-size: 14px;
        color: rgba(105, 105, 115, 1);
    }
}

.product-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: antiquewhite;
}

.content {
    width: 1300px;
    background-color: rgb(115, 187, 187);
}

.product-content {
    width: 100%;
    background-color: rgb(179, 118, 38);
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.product-img {
    flex: 3;
    background-color: rgb(129, 40, 40);
    height: 600px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.product-info {
    flex: 2;
    background-color: rgb(46, 153, 141);
}